.Bar {
  color: var(--text-color-dark);
  display: flex;
  flex-direction: column reverse;
  align-items: flex-start;
  transition: 125ms ease-in-out;
  border: 1px solid #f4f4f4;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.Bar__Text {
  margin: 0 auto 0.25rem;
}

.Bar_sorted {
  background-color: #89ff6a;
}

.Bar_stateD {
  background-color: var(--blue);
}

.Bar_stateC {
  background-color: #ff2520;
}

.Bar_stateB {
  background-color: #ffacf4;
}

.Bar_stateA {
  background-color: #fffe20;
}
