.Bar {
  color: var(--text-color-dark);
  display: flex;
  flex-direction: column reverse;
  align-items: flex-start;
  transition: 125ms ease-in-out;
  border: 1px solid #f4f4f4;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.br-text {
  margin: 0 auto 0.25rem;
}

.br-sort {
  background-color: #89ff6a;
}

.br-D {
  background-color: #65f8f1;
}

.br-C {
  background-color: #ff2520;
}

.br-B {
  background-color: #ffacf4;
}

.br-A {
  background-color: #fffe20;
}
