.Footer {
  box-sizing: border-box;
  min-height: 64px;
  width: 100%;
  padding: 1rem 20px;
  background-color: #efefef;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  word-spacing: 0.25rem;
  transition: background-color 500ms ease-in-out;
}

.Footer__Items {
  flex-grow: 1;
  display: inline-flex;
  justify-content: flex-end;
}

@media (max-width: 599px) {
  .Footer__Items {
    flex-flow: column;
    padding: 0.5rem;
  }
}

.Footer__Items * {
  padding: 0.25rem 1rem;
}

.Footer__Link {
  color: var(--text-color);
  font-weight: 900;
  text-decoration: none;
}
.g:hover {
  transform: scale(1.2);
  transition: 0.1s ease-in-out;
}
.Footer__Link:hover {
  color: rgb(21, 233, 21);
}
